extends ../../../common/pug/layout.pug
block title
  title (9) Dev Tools Domination - JavaScript 30
block content
  .container
    header
      h1 Dev Tools Domination
      h2 JavaScript 30 - Day #9
    p#breakdown xBREAKxDOWNx
    p Check the console 👋
