extends ../../../common/pug/layout.pug
block title
  title (14) JS Reference VS Copy - JavaScript 30
block fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400',
    rel='stylesheet', type='text/css')
block content
  header
    h1 JS Reference VS Copy
    h2 JavaScript 30 - Day #14

  p Yet another #[code console.log()] day.
