extends ../../../common/pug/layout.pug
block title
  title (10) Hold Shift and Check Checkboxes - JavaScript 30
block fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400',
    rel='stylesheet', type='text/css')
block content
  header
    h1 Hold Shift and Check Checkboxes
    h2 JavaScript 30 - Day #10
  - items = locals['data']
  .inbox
    each item, index in items
      .item
        input(id='item-'+index, type='checkbox')
        label(for='item-'+index) #{item}
