extends ../../../common/pug/layout.pug
block title
  title (12) Key Sequence Detection - JavaScript 30
block fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400',
    rel='stylesheet', type='text/css')
  script(src='http://www.cornify.com/js/cornify.js')
block content
  header
    h1 Key Sequence Detection
    h2 JavaScript 30 - Day #12

  p Type the word #[em 'secret'] several times...
